<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pricing Table
                <small>Our Pricing Options</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Pricing Table</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Personal</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">Free
                        <!--<span class="price-cents">99</span>-->
                        <!--<span class="price-month">/month</span>-->
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Get 10 GB secure storage with 250 MB file upload size</li>
                    <li class="list-group-item">1 User</li>
                    <li class="list-group-item">10-100 GB Storage</li>
                    <li class="list-group-item">250 MB or 5 GB File Size</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Starter</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$6
                        <!--<span class="price-cents">99</span>-->
                        <span class="price-month">user/month</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Shared workspace for your team or project</li>
                    <li class="list-group-item">3 to Max 10 Users</li>
                    <li class="list-group-item">100 GB Storage</li>
                    <li class="list-group-item">2 GB File Size</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Business <span class="label label-success">Most Popular!</span></strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">$17
                        <!--<span class="price-cents">99</span>-->
                        <span class="price-month">user/month</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Content collaboration and user management</li>
                    <li class="list-group-item">Minimum 3 Users</li>
                    <li class="list-group-item">Unlimited Storage</li>
                    <li class="list-group-item">5 GB File Size</li>
                    <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <strong>Enterprise</strong>
                </div>
                <div class="panel-body">
                    <h3 class="panel-title price">
                        <!--<span class="price-cents">99</span>-->
                        <span class="price-month">Contact us for Quote</span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Secure and scalable content and management</li>
                    <li class="list-group-item">Customized</li>
                    <li class="list-group-item">Unlimited Storage</li>
                    <li class="list-group-item">5 GB File Size</li>
                    <li class="list-group-item"><a class="btn btn-primary">Get in touch!</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->

